.darkCard {
    background-color: #303031 !important;
    color: #fefefe !important; 
    * {
        color: #fefefe !important; 
    }
}

.darkCard, .regularCard {
    img {
        width: 100%;
        height: auto;
    }
}